.form-group {
    margin-bottom: 1.5rem;
  }

  .form-control {
    background-color: #f7f7f7;
    color: #3f3f3f;
    border-radius: 0.25rem;
    box-shadow: none;
  }

  .form-control:focus {
    box-shadow: none;
  }

  label {
    font-weight: 600;
  }

  textarea {
    min-height: 10rem;
  }

  form {
    margin: 20px auto;
    padding: 10px;
    box-shadow: 0 0 10px black;
  }