<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src='/assets/logo.png' /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="./">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="./accounts">Accounts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./boosting">Boosting</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./coaching">Coaching</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">More Coming Soon...</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main>
        <div class="p-5 mb-4 text-light bg-dark">
            <div class="container-fluid py-5">
              <h1 class="display-5 fw-bold">Account Store</h1>
              <p class="col-md-8 fs-4">Find a League of Legends Account to suit your needs.</p>
              <p class="col-md-8 fs-5">Each account is hand-levelled and comes with our standard 1-year warranty, where we will cover any ban covered by our policy.</p>
            </div>
          </div>
    
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h5 class="card-title">North America</h5>
                    </div>
                  <div class="card-body">
                    <p class="card-text">The land of the free and home of the brave, and the place where League of Legends champions are made.</p>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#naModal">Select Account</button>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h5 class="card-title">Europe West</h5>
                    </div>
                  <div class="card-body">
                    <p class="card-text">Where the League of Legends players are always ready to bring the heat and never afraid to take a seat.</p>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ewModal">Select Account</button>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h5 class="card-title">Europe Nordic & East</h5>
                    </div>
                  <div class="card-body">
                    <p class="card-text">Where the League of Legends gamers come to show the world the power of their might, and the strength of their skills in the fight.</p>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#eneModal">Select Account</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h5 class="card-title">Oceania</h5>
                    </div>
                  <div class="card-body">
                    <p class="card-text">Where the League of Legends champions always know the right way to go, and never forget the importance of a healthy balance between work and play.</p>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ocModal">Select Account</button>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h5 class="card-title">Latin America North</h5>
                    </div>
                  <div class="card-body">
                    <p class="card-text">The place where League of Legends players can always count on a good time, and the best way to have fun is to show off their skills and win the fight.</p>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#lanModal">Select Account</button>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h5 class="card-title">Latin America South</h5>
                    </div>
                  <div class="card-body">
                    <p class="card-text">Where the League of Legends players know that fun and competition go hand in hand, and always ready to show the world their gaming expertise.</p>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#lasModal">Select Account</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                      <div class="card-header">
                          <h5 class="card-title">Turkey</h5>
                      </div>
                    <div class="card-body">
                      <p class="card-text">The land that's home to the League of Legends warriors, who are always ready to prove the power of their strategies.</p>
                      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#trModal">Select Account</button>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                      <div class="card-header">
                          <h5 class="card-title">Russia</h5>
                      </div>
                    <div class="card-body">
                      <p class="card-text">Where the League of Legends champions know that victory comes from dedication and discipline, and never back down from a challenge.</p>
                      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ruModal">Select Account</button>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                      <div class="card-header">
                          <h5 class="card-title">Japan</h5>
                      </div>
                    <div class="card-body">
                      <p class="card-text">The ultimate destination for League of Legends players, where the ultimate goal is to prove their skills and become a master of the game.</p>
                      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#jpModal">Select Account</button>
                    </div>
                  </div>
                </div>
              </div>
          </div>
    
          <div class="modal fade" id="naModal" tabindex="-1" role="dialog" aria-labelledby="naModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="naModalLabel">North America Account</h5>
                </div>
                <form>
                <div class="modal-body">
                  <p>Choose your rank and let us know your champion pool so as to provide the best account for you.</p>
                  
                    <div class="form-group">
                      <label for="naRank">Rank:</label>
                      <select class="form-control" id="naRank">
                        <option>Level 30 Unranked</option>
                        <option>Iron</option>
                        <option>Bronze</option>
                        <option>Silver</option>
                        <option>Gold</option>
                      </select>
                      <div class="form-group">
                        <label for="naChampionPool">Champion Pool:</label>
                        <input type="text" id="naChampionPool" class="form-control">
                      </div>
                    </div>
                  
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary">Purchase Now</button>
                </div>
                </form>
              </div>
            </div>
          </div>
    
          <div class="modal fade" id="ewModal" tabindex="-1" role="dialog" aria-labelledby="ewModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="ewModalLabel">Europe West Account</h5>
                </div>
                <form>
                <div class="modal-body">
                  <p>Choose your rank and let us know your champion pool so as to provide the best account for you.</p>
                  
                    <div class="form-group">
                      <label for="ewRank">Rank:</label>
                      <select class="form-control" id="ewRank">
                        <option>Level 30 Unranked</option>
                        <option>Iron</option>
                        <option>Bronze</option>
                        <option>Silver</option>
                        <option>Gold</option>
                      </select>
                      <div class="form-group">
                        <label for="ewChampionPool">Champion Pool:</label>
                        <input type="text" id="ewChampionPool" class="form-control">
                      </div>
                    </div>
                  
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary">Purchase Now</button>
                </div>
                </form>
              </div>
            </div>
          </div>
    
          <div class="modal fade" id="eneModal" tabindex="-1" role="dialog" aria-labelledby="eneModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="eneModalLabel">Europe Nordic & East Account</h5>
                </div>
                <form>
                <div class="modal-body">
                  <p>Choose your rank and let us know your champion pool so as to provide the best account for you.</p>
                  
                    <div class="form-group">
                      <label for="eneRank">Rank:</label>
                      <select class="form-control" id="eneRank">
                        <option>Level 30 Unranked</option>
                        <option>Iron</option>
                        <option>Bronze</option>
                        <option>Silver</option>
                        <option>Gold</option>
                      </select>
                      <div class="form-group">
                        <label for="eneChampionPool">Champion Pool:</label>
                        <input type="text" id="eneChampionPool" class="form-control">
                      </div>
                    </div>
                  
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary">Purchase Now</button>
                </div>
                </form>
              </div>
            </div>
          </div>
    
          <div class="modal fade" id="ocModal" tabindex="-1" role="dialog" aria-labelledby="ocModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="ocModalLabel">Europe West Account</h5>
                </div>
                <form>
                <div class="modal-body">
                  <p>Choose your rank and let us know your champion pool so as to provide the best account for you.</p>
                  
                    <div class="form-group">
                      <label for="ocRank">Rank:</label>
                      <select class="form-control" id="ocRank">
                        <option>Level 30 Unranked</option>
                        <option>Iron</option>
                        <option>Bronze</option>
                        <option>Silver</option>
                        <option>Gold</option>
                      </select>
                      <div class="form-group">
                        <label for="ocChampionPool">Champion Pool:</label>
                        <input type="text" id="ocChampionPool" class="form-control">
                      </div>
                    </div>
                  
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary">Purchase Now</button>
                </div>
                </form>
              </div>
            </div>
          </div>
    
          <div class="modal fade" id="lanModal" tabindex="-1" role="dialog" aria-labelledby="lanModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="lanModalLabel">Latin America North Account</h5>
                </div>
                <form>
                <div class="modal-body">
                  <p>Choose your rank and let us know your champion pool so as to provide the best account for you.</p>
                  
                    <div class="form-group">
                      <label for="lanRank">Rank:</label>
                      <select class="form-control" id="lanRank">
                        <option>Level 30 Unranked</option>
                        <option>Iron</option>
                        <option>Bronze</option>
                        <option>Silver</option>
                        <option>Gold</option>
                      </select>
                      <div class="form-group">
                        <label for="lanChampionPool">Champion Pool:</label>
                        <input type="text" id="lanChampionPool" class="form-control">
                      </div>
                    </div>
                  
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary">Purchase Now</button>
                </div>
                </form>
              </div>
            </div>
          </div>
    
          <div class="modal fade" id="lasModal" tabindex="-1" role="dialog" aria-labelledby="lasModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="lasModalLabel">Latin America South Account</h5>
                </div>
                <form>
                <div class="modal-body">
                  <p>Choose your rank and let us know your champion pool so as to provide the best account for you.</p>
                  
                    <div class="form-group">
                      <label for="lasRank">Rank:</label>
                      <select class="form-control" id="lasRank">
                        <option>Level 30 Unranked</option>
                        <option>Iron</option>
                        <option>Bronze</option>
                        <option>Silver</option>
                        <option>Gold</option>
                      </select>
                      <div class="form-group">
                        <label for="lasChampionPool">Champion Pool:</label>
                        <input type="text" id="lasChampionPool" class="form-control">
                      </div>
                    </div>
                  
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary">Purchase Now</button>
                </div>
                </form>
              </div>
            </div>
          </div>
      
          <div class="modal fade" id="trModal" tabindex="-1" role="dialog" aria-labelledby="trModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="trModalLabel">Turkey Account</h5>
                </div>
                <form>
                <div class="modal-body">
                  <p>Choose your rank and let us know your champion pool so as to provide the best account for you.</p>
                  
                    <div class="form-group">
                      <label for="trRank">Rank:</label>
                      <select class="form-control" id="trRank">
                        <option>Level 30 Unranked</option>
                        <option>Iron</option>
                        <option>Bronze</option>
                        <option>Silver</option>
                        <option>Gold</option>
                      </select>
                      <div class="form-group">
                        <label for="trChampionPool">Champion Pool:</label>
                        <input type="text" id="trChampionPool" class="form-control">
                      </div>
                    </div>
                  
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary">Purchase Now</button>
                </div>
                </form>
              </div>
            </div>
          </div>

          <div class="modal fade" id="ruModal" tabindex="-1" role="dialog" aria-labelledby="ruModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="ruModalLabel">Russia Account</h5>
                </div>
                <form>
                <div class="modal-body">
                  <p>Choose your rank and let us know your champion pool so as to provide the best account for you.</p>
                  
                    <div class="form-group">
                      <label for="ruRank">Rank:</label>
                      <select class="form-control" id="ruRank">
                        <option>Level 30 Unranked</option>
                        <option>Iron</option>
                        <option>Bronze</option>
                        <option>Silver</option>
                        <option>Gold</option>
                      </select>
                      <div class="form-group">
                        <label for="ruChampionPool">Champion Pool:</label>
                        <input type="text" id="ruChampionPool" class="form-control">
                      </div>
                    </div>
                  
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary">Purchase Now</button>
                </div>
                </form>
              </div>
            </div>
          </div>

          <div class="modal fade" id="jpModal" tabindex="-1" role="dialog" aria-labelledby="jpModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="jpModalLabel">Japan Account</h5>
                </div>
                <form>
                <div class="modal-body">
                  <p>Choose your rank and let us know your champion pool so as to provide the best account for you.</p>
                  
                    <div class="form-group">
                      <label for="jpRank">Rank:</label>
                      <select class="form-control" id="jpRank">
                        <option>Level 30 Unranked</option>
                        <option>Iron</option>
                        <option>Bronze</option>
                        <option>Silver</option>
                        <option>Gold</option>
                      </select>
                      <div class="form-group">
                        <label for="jpChampionPool">Champion Pool:</label>
                        <input type="text" id="jpChampionPool" class="form-control">
                      </div>
                    </div>
                  
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary">Purchase Now</button>
                </div>
                </form>
              </div>
            </div>
          </div>
    </main>
    <footer class="bg-light">
        
        <nav>
            <div class="gpay">
                
            </div>
            <a href="#"><img src='/assets/logo.png' /></a>
        </nav>

        <p>
            <i>League of Legends is a registered trademark of Riot Games, Inc. We are in no way affiliated with, associated with or endorsed by Riot Games, Inc.</i>
        </p>
        <p>
            <b>Website created by nas 🍵</b>
        </p>
    </footer>
</body>
